* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}


body {
	margin:0;
	font-family:Tahoma,Arial,sans-serif;
	font-size:1rem;
	font-weight:400;
	line-height:1.5;
	color:#212529;
	text-align:left;
	background-color:#fff;
	height:100%;
}

header {
	font-size:2rem;
	padding:30px 100px;
	text-align:center;
	background-color:#E8CF05;
	color:#fff;
	font-weight:600;
}



h1 {
	text-align:center;
	margin-bottom:50px;
}

h2,h3,h4{

	text-align:center;
	margin-bottom:20px;
}

footer {
	position:relative;
	left:0;
	right:0;
	bottom:0;
	padding:20px;
	text-align:center;
	background:#E8CF05;
	color:#fff;
	opacity: 0.5;
}

p, a {

padding:20px;
color : #304055;
font-size : 1.2em;
font-family : tahoma, verdana, sans-serif;
}

.photo img{

	padding: 15px; /* Расстояние от картинки до рамки */
      /* Цвет фона */
     margin-right: 10px; /* Отступ справа */
     margin-bottom: 10px;


}

.menu{
  padding: 0px;
  margin:0px;
  display: inline-block;
}
.menu li{
  float:left;
  list-style:none;
}
.menu li a{
  padding: 20px 15px;
  display: inline-block;
  text-decoration:none;
  color: #ff5252;
}
.menu li:hover a{
    background: #333;
    color: #fff;
}
.menu li ul{
   margin: 0;
   padding: 0;
}

.menu li ul{
   margin: 0;
   padding: 0;
   position: absolute;
   z-index: 100;
  display:none;
}
.menu li:hover ul{
  display:block;
}
.menu li ul li{
  display:block;
  width: 100%;
}
.menu li ul li a{
  width: 100%;
}
